@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">RPG</h1>
    <p>Stiskni <a asp-page="/location">ZAČÍT HRÁT</a> aby jsi spustil hru.</p>
</div>
