@page
@model RPG.Pages.LocationModel
@using RPG.Model
@{
    ViewData["Title"] = "Location";
}

<div class="text-center">
    <h1 class="display-4">@Model.location.Name</h1>
    <p>@Model.location.Description</p>
</div>

