@page
@model RPG.StoryModel
@{
    ViewData["Title"] = "Story";
}

<h1>Story</h1>
<div class="text-center">
    <h1 class="display-4">Příběh</h1>
    <p class="font-italic">
        Nácházíš se na opuštěném ostrově, protože tvému soukromému triskáči přestaly fungovat motory, ale naštěstí jsi měl padák.

        Spadl jsi do moře a plaval jsi půl dne, než jsi se dostal na tento ostrov a proto si vyčerpaný. Máš u sebe pouze mobilní telefon a hodinky.
        Tvým úkolem je nasbírat co nejvíce <a asp-page="/achievements">ÚSPĚCHŮ</a> a dostat se z ostrovo.
        Gl...
    </p>
</div>
<div class="text-right">
    <p><a>Přeskočit tutorial >></a></p>
    <p><a asp-page="/location">Tutorial ></a></p>
</div>
